/* Tailwind’s base layer includes global CSS resets and element styles that are not prefixed. 
These styles affect all HTML elements (like input, button, h1, etc.) in the consuming app. */
@tailwind base;

.tailwind-pagination-package {
  box-shadow: none !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px 0px;
  justify-content: center;
}

.mobile-preview-frame {
  container-type: inline-size;
}
